button {
  width: 100%;
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
  margin-top: auto;
  justify-content: center;
  border-radius: 8px;
}

.colored {
  background-color: #39CDCC;
  border: 1px solid #39CDCC;
  color: white;
  text-decoration: none;
}

.white {
  background-color: transparent;
  border: 1px solid #545F7D;
  color: #545F7D;
  text-decoration: none;
}