@use '../index';

.sidebarlink-container {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 10px;
  font-family: index.$font-WorkSans;
  
  .sidebarlink-logo {
    color: index.$first-font-color;
    font-weight: 400;
    display: flex;
    align-items: center;
    font-size: .85rem;
  }

  .sidebarlinkname {
    color: index.$first-font-color;
    font-weight: 400;
    font-size: .85rem;
    line-height: 19px;
    font-family: index.$font-WorkSans;
    opacity: 0.5;
    text-align: center;
  }

  .sideBarLinkArrow {
    font-size: .85rem;

    display: flex;
    align-items: center;
  }

  img {
    height: .5rem;
  }
}